{% extends 'base.html' %}
{% block herobg %}index{% endblock %}
{% block hero %}
<div class="container">
    <div class="row text-center text-light p-5 ">
        <h1 class="mx-auto py-3">Techfugees Toronto Housing Network</h1>
        <p class="m-auto lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
{% endblock %}
{% block content %}

<h1>{% block title %}Property Listings{% endblock %}</h1>
<div class="row">
    {% for i in range(posts|length) %}
    {% with post=posts[i], files_list=files_lists[i] %}
    {% include 'components/listing_preview.html' %}
    {% endwith %}
    {% endfor %}
</div>

{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}

{% endblock %}