{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Techfugees {% endblock %}</h1>
    {% for post in posts %}

    <div>
        <h2>
            <a href="{{ url_for('posts.listing', post_id = post.id) }}">
                {{ post['title'] }}
            </a>
        </h2>
        <p class="article-content">{{ post['content'] }}</p>
        
        <span class="badge badge-primary">{{ post['date_posted'] }}</span>
        <span class="badge badge-primary">{{ post['author'].username }}</span>
    </div>

    <hr>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
