{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} {{ post['title'] }} {% endblock %}</h1>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <img src="https://via.placeholder.com/800x450" class="img-fluid img-responsive">
    </div>
    <div class="col-md-4 col-sm-12 text-center card p-3">
        <img src="/static/images/profile/{{ post['author'].image_file }}" width="175"
            class="mx-auto p-3 rounded-circle account-img">
        <h4 class="account-heading">{{ post['author'].username }}</h4>
        {% if post['author'].credit_check %}
        <p>Does not require a credit check</p>
        {% endif %}
        {% if post['author'].first_last %}
        <p>Does not require first and last month's payment upfront</p>
        {% endif %}
        <a href="{{ url_for('users.profile', username=post['author'].username) }}">
            <button type="button" class="my-3 btn-block btn-primary btn">Visit Profile</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12 py-4">
        <p class="article-content">{{ post['content'] }}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="listing_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                    aria-controls="details" aria-selected=True>Building details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="amenities-tab" data-toggle="tab" href="#amenities" role="tab"
                    aria-controls="amenities" aria-selected="false">Amenities</a>
            </li>
        </ul>
        <div class="tab-content" id="listing_tabs_content">
            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                <div class="row p-3">
                    <div class="col-12 py-3 border-bottom">
                        <table class="listing-table">
                            <tr>
                                <td><strong>Location:</strong></td>
                                <td>{{ post['address'] }}<br />
                                    {{ post['city'] }}</td>
                            </tr>
                            <tr>
                                <td><strong>Building type:</strong></td>
                                <td>{{ post['type_of_building'] }}</td>
                            </tr>
                            <tr>
                                <td><strong>Bedrooms:</strong></td>
                                <td>{{ post['num_bedrooms'] }}</td>
                            </tr>
                            <tr>
                                <td><strong>Bathrooms:</strong></td>
                                <td>{{ post['num_bathrooms'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="amenities" role="tabpanel" aria-labelledby="amenities-tab">
                <div class="row p-3">
                    <div class="col-sm-6 col-md-4 py-3 border-bottom">
                        <h6>Appliances</h6>
                        <hr>
                        <table class="listing-table">
                            <tr>
                                <td><strong>Stove & Oven:</strong></td>
                                <td>
                                    {% if post['stove_oven'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Microwave:</strong></td>
                                <td>
                                    {% if post['microwave'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Dishwasher:</strong></td>
                                <td>
                                    {% if post['dishwasher'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Washer:</strong></td>
                                <td>
                                    {% if post['washer'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Dryer:</strong></td>
                                <td>
                                    {% if post['dryer'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-sm-6 col-md-4 py-3 border-bottom">
                        <h6>Utilities</h6>
                        <hr>
                        <table class="listing-table">
                            <tr>
                                <td><strong>Water:</strong></td>
                                <td>
                                    {% if post['water'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Electricity:</strong></td>
                                <td>
                                    {% if post['electricity'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Air conditioning:</strong></td>
                                <td>
                                    {% if post['air_conditioning'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Cable:</strong></td>
                                <td>
                                    {% if post['cable'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6 col-md-4 py-3 border-bottom">
                        <h6>Extras</h6>
                        <hr>
                        <table class="listing-table">
                            <tr>
                                <td><strong>Pets allowed:</strong></td>
                                <td>
                                    {% if post['pet'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Smoking allowed:</strong></td>
                                <td>
                                    {% if post['smoking'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Balcony:</strong></td>
                                <td>
                                    {% if post['balcony'] == True %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}