{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Listing {% endblock %}</h1>
    <div>
        {% if current_user.is_authenticated %}
            {% if post.author != current_user %}
                {% if user_type == 0 %}
                    {% if wish == False %}
                    <form action="{{ url_for('posts.wish_list', post_id=post.id) }}" method="POST">
                        <input style="float: right" class="btn btn-info btn-sm mt-1 mb-1" type="submit" value="Wish list">
                    </form>
                    {% else %}
                    <form action="{{ url_for('posts.unWish', post_id=post.id) }}" method="POST">
                        <input style="float: right" class="btn btn-secondary btn-sm mt-1 mb-1" type="submit" value="Remove Wish">
                    </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <h2 class="article-title">
            {{ post['title'] }}
        </h2>
        <h4>Address</h4>
        <span class="article-content">{{ post['address'] }}</span>
        <span class="article-content">{{ post['city'] }}</span>
        <h4>Type of Building</h4>
        <p class="article-content">{{ post['type_of_building'] }}</p>
        <h4>Basic Info</h4>
        <div>
          <span># of bedrooms</span>
          <span class="article-content">{{ post['num_bedrooms'] }}</span>
          <br />
          <span># of bathrooms</span>
          <span class="article-content">{{ post['num_bathrooms'] }}</span>
        </div>
        <div>
          <span>Pet</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['pet'] }}</span>
          <span>Smoking</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['smoking'] }}</span>
          <span>Balcony</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['balcony'] }}</span>
          <span>Air Conditioning</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['air_conditioning'] }}</span>
          <span>Stove & Oven</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['stove_oven'] }}</span>
          <span>Washer</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['washer'] }}</span>
          <span>Dryer</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['dryer'] }}</span>
          <span>Dishwasher</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['dishwasher'] }}</span>
          <span>Microwave</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['microwave'] }}</span>
          <span>Cable</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['cable'] }}</span>
          <span>Water</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['water'] }}</span>
          <span>Electricity</span>
          <span class="article-content" style="margin-right: 25px;">{{ post['electricity'] }}</span>
        </div>
        <h4>Content</h4>
        <p class="article-content">{{ post['content'] }}</p>

        
        <span class="badge badge-primary">{{ post['date_posted'] }}</span>
        <span class="badge badge-primary">{{ post['author'].username }}</span>
        <span class="badge badge-primary">{{ post['author'].checker }}</span>
    </div>


    <div>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('posts.new_review', post_id=post.id) }}">Review</a>
        {% if post.author == current_user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_listing', post_id=post.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        {% endif %}
    </div>

    <div id="review_div" style="margin: 20px">
        {% for r in reviews %}

        <div class="border border-primary rounded" style="margin: 10px; position: relative; min-height: 150px">
            <div style="height: 120px; width: 120px; float: left">
                <img style="border-radius: 50%; width: 100%; height: auto; margin: 1%"
                     src="https://i.pinimg.com/originals/5f/df/91/5fdf914e80e58a43f052a219343e60b1.png" alt="icon">
                <span style="left: 50px; margin-bottom: 3%; position: relative">{{ r.user.username }}</span>
            </div>
            <div style="float: left">
                <p>
                    {{ r.comment }}
                </p>
            </div>
            <div>
                <span class="badge badge-primary">{{ r.date_posted }}</span>
            </div>
            {% if r.user == current_user %}
            <a class="btn btn-primary btn-sm mt-1 mb-1" style="float: right; margin: 10px"
               href="{{ url_for('posts.delete_review', post_id=post.id, review_id=r.id) }}">Delete</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <hr>

    <!-- Bootstrap Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}