{% extends 'base.html' %}
{% block herobg %}{% endblock %}
{% block content %}
<div>
    <h1>{% block title %} Wish List {% endblock %}</h1>
    {% for post in wish_list %}

    <div>
        <h2>
            <a href="{{ url_for('posts.listing', post_id = post.id) }}">
                {{ post['title'] }}
            </a>
        </h2>
        <p class="article-content">{{ post['content'] }}</p>

        <span class="badge badge-primary">{{ post['date_posted'] }}</span>
        <span class="badge badge-primary">{{ post['author'].username }}</span>
    </div>

    <hr>
    {% endfor %}
</div>
{% endblock %}