{% extends 'profile/profile.html' %}
{% block title %}{{user.username}} | Profile{% endblock %}
{% block user_type %}
<div class="py-2 mx-auto">
    {% if user.credit_check %}
    <p><i class="fas fa-check-circle"></i> Does not require a credit check</p>
    {% endif %}
    {% if user.first_last %}
    <p><i class="fas fa-check-circle"></i> Does not require first and last month's payment upfront</p>
    {% endif %}
    {% if user.no_cosigner %}
    <p><i class="fas fa-check-circle"></i> Does not require co-signer</p>
    {% endif %}
    <a href="mailto:{{user.email}}"><i class="fas fa-envelope-square fa-lg"></i></a>
    <a href="tel:0"><i class="fas fa-phone-square fa-lg"></i></a>
</div>
{% endblock %}
{% block prof_content %}
<h3>Listings</h3>

<hr>
<div class="row">
    {% with files_list=files_list %}
    {% for post in listings %}

    {% include 'components/listing_preview.html' %}

    {% endfor %}
    {% endwith %}
</div>
{% endblock prof_content %}