{% extends 'profile/profile.html' %}

{% block prof_content %}
    <p class="text-secondary">{{ user.username }}</p>
    <p class="text-secondary">{{ user.email }}</p>
    <p class="text-secondary">{{ user.credit_check }}</p>
    <p class="text-secondary">{{ user.first_last }}</p>

    {% for post in listings %}

    <div>
        <h2>
            <a href="{{ url_for('posts.listing', post_id = post.id) }}">
                {{ post['title'] }}
            </a>
        </h2>
        <p class="article-content">{{ post['content'] }}</p>
        
        <span class="badge badge-primary">{{ post['date_posted'] }}</span>
        <span class="badge badge-primary">{{ post['author'].username }}</span>

    </div>
    <hr>
    {% endfor %}

{% endblock prof_content %}