<div class="col-sm-6 col-md-4 my-3 listing-preview">
    
    <div class="listing-preview-content">
        <h4>
            <a href="{{ url_for('posts.listing', post_id = post.id) }}">
                {{ post['title'] }}
            </a>
        </h4>
        <span class="badge badge-secondary">{{ post['city'] }}</span>
        <span class="badge badge-secondary">{{ post['type_of_building'] }}</span>
        {% if post['num_bedrooms'] > 1 %}
        <span class="badge badge-secondary">{{ post['num_bedrooms'] }} Bedrooms</span>
        {% else %}
        <span class="badge badge-secondary">{{ post['num_bedrooms'] }} Bedroom</span>
        {% endif %}
        {% if post['num_bathrooms'] > 1 %}
        <span class="badge badge-secondary">{{ post['num_bathrooms'] }} Bathrooms</span>
        {% else %}
        <span class="badge badge-secondary">{{ post['num_bathrooms'] }} Bathroom</span>
        {% endif %}
        <p class="article-content py-2">
            {% if post['content']|length > 60 %}
            {{ post['content'][:60] }}...
            {% elif post['content']|length > 0 %}
            {{ post['content']}}
            {% else %}
            No description for this listing available.
            {% endif %}
            <br />
        </p>
        <div class="col-md-9 col-sm-12">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for photo in files_list %}
                    <li data-target="#carouselIndicators" data-slide-to="{{ loop.index }}"
                        class="item{% if loop.index == 1 %} active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for photo in files_list %}
                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                        <img src="{{ url_for('static', filename='HousePhoto/' + post.id|string() + '/' + photo) }}"
                            class="d-block w-100 img-fluid img-responsive">
                    </div>
                    {% endfor %}
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-start listing-footer">
            <div class="col align-self-end">
                <span class="badge badge-primary"><i class="fas fa-calendar-day fa-sm" style="vertical-align: top;"></i>&nbsp;{{ post['date_posted'].strftime('%Y-%m-%d') }}</span>
            </div>
            <div class="col align-self-end">
                <a href="{{ url_for('users.profile', username=post['author'].username) }}">
                    <span class="badge badge-primary"><i class="fas fa-user fa-sm" style="vertical-align: top;"></i>&nbsp;{{ post['author'].username }}</span>
                </a>
            </div>


            {% if current_user.is_authenticated %}
            {% if current_user.checker == 'tenant' %}
            {% if current_user.username in post['wish_user'] %}
            <span class="badge badge-success">Saved to wish list</span>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>